
<div class="container">

  <!-- Navigation -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler"
            aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggler">
      <a class="navbar-brand" href="#">Nilsbakken</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Navigation -->

  <!-- Page content -->
  <router-outlet></router-outlet>
  <!-- /Page content -->

  <!-- Footer -->
  <!--footer class="footer">
    <div class="container">
      <p class="text-muted">
        Contact: <a id="email" href="mailto:dummy@dummy.com">dummy@dummy.com</a>
      </p>
    </div>
  </footer-->
  <!-- /Footer -->

</div>
