
<h3>Introduction</h3>
<p>
  I'm Eivind K. Nilsbakken, a system developer and administrator living in Oslo, Norway.
  I have 8+ years of experience as a full stack developer, using languages like Java, Perl
  and Python; frameworks like Jersey, Spring and Hibernate; and database systems like
  Oracle and MySQL, and even some Sybase.
</p>

<p>
  In addition to working on back end systems, I also have experience with front end development,
  and have dabbled quite a bit with JavaScript and various JavaScript frameworks over the years.
  Design has never been my strong suit though, and that is the reason why I've used stock
  Twitter Bootstrap templates to make this site.
</p>

<p>
  My go-to tools for development are Emacs for scripting and simple web development tasks, but
  for Java, AngularJS, and other large development tasks, IntelliJ IDEA is always my first choice.
  My preferred environment to work in is the Debian GNU/Linux operating system, with the KDE Plasma
  desktop.
</p>

<h3>Other skills</h3>
<p>
  Developing and maintaining back end systems for companies is what I excel at. I'm a generalist, I
  know a little bit of everything, and learning new languages, tools and frameworks is something I
  always find very motivating. It doesn't have to be new and fancy though, as digging into legacy
  code can be immensely exciting too—like solving a tricky puzzle or digging up a long lost treasure.
</p>

<p>
  I enjoy writing. Trying to understand a badly documented project is frustrating, so making
  instructions that others can grasp feels equally rewarding. When writing documentation, I prefer
  to do so from scratch when it makes sense to do so. Setting up a clean environment from an image
  is fast and easy with QEMU and KVM, and it helps a lot in identifying which steps of a process can
  be difficult, and thus important to highlight. Many languages have their own frameworks for setting
  up isolated work environments, like virtualenv for Python and local::lib for Perl, while languages
  like Java and Node.js use configuration schemes like Maven or SystemJS to manage dependencies.
</p>
