
<h3>Programming</h3>
<p>I can't quite explain it, but since I started programming, I've always been excited
  about processing and automation. My first big hobby project was a bot made to interact
  with a browser game called Kingdom of Loathing, which is a a casual and humorous MMORPG,
  where bots are frequently used to perform certain tasks. My bot was a total hack job,
  but it was able to go on adventures, read messages, chat and buff other players, as well
  as manage a clan stash. It's embarassing to look at the code I wrote then now, but looking
  back, it was at least a great learning experience.
</p>

<p>
  The same interest has also lead me to spend a lot of time on command line tools like cURL
  and AWK, and regular expressions to throw together small snippets of code to either
  interact with various web sites or to extract data from logs and text corpora. For anything
  bigger that requires logins and sessions, I usually opt for Python or Perl, since they
  both have great libraries for web requests and parsing of HTML.
</p>

<h3>Video games</h3>
<p>
  Since I was young, I've been fond of playing video games. Back then it was mostly
  platformers which caught my interest, but over the years, I've also been into car racing
  games, point-and-click adventures and strategy games. Currently, my favorite genres are
  platformers (still), point-and-click adventures, adventure RPG and puzzle games.
</p>

<p>
  Linux users have been talking about the Golden Age of Linux gaming since the 90's when
  id Software, Loki Entertainment, Runesoft and others developed for and ported games to
  Linux. It wasn't until this decade, however, that Linux became a real gaming alternative
  on PC, with the Humble Indie Bundle, Desura, Steam for Linux, better graphics driver
  support, game engines like Unity3d, Unreal Engine 4 and others, and above all, thousands
  of developers making their games available on the open source platform.
</p>

<p>
  So what does all this have to do with anything? Well, another thing I'm interested in is
  helping support this development in any way I can. Usually that entails writing about
  Linux games, helping beta test, and of course buying them whenever I can. I've also been
  lucky to have the opportunity and skills to help a few developers sort out dependencies,
  and even help with packaging of Java and HTML5 games, using tools like packr Java and NW.js.
</p>
